node_modules
.DS_Store
npm-debug.log
.*.swp
.*.swo
dist
output
iconfont.js
iconfont.css
.idea
.vscode
*.sublime-project
*.sublime-workspace
.svn
*.log
*.lock
yarn-error.log
demo.html
.parcel-cache
build